<%= provide(:title, 'Home') %>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center"><%= link_to "Weather Forecast", root_path %></h1>
      
      <br />
      <p>What's the weather in your city?</p>
      
      <div class="form">
        <%= render 'form' %>
      </div>
      
      <br />
      <hr class="hr-primary" />
      <br />
      <div class="results">
        <% if @location != nil && @location != "" && (@error == "" || @error == nil) %>
          <div class = "row">
            <div class = "col-md-6 offset-md-1">
              <p>
                <em>What's the weather like in <%= @location %>?</em>
              </p>
              
              <p>
                Temperature is: <%= @temp_f %>째 F / <%= @temp_c %>째 C
              </p>
              
              <p>
                Feels like: <%= @real_feel_f %>째 F / <%= @real_feel_c %>째 C
              </p>
            </div>
                
            <div class = "col-md-4 offset-md-1">
                <p>
                  <%= @weather_words%> <%= image_tag @weather_icon%>
                </p>
                
                <p>
                  <%=link_to "Full Forecast", @forecast_link, target: "_blank" %>
                </p>
                <br /><br />
            </div>
          </div>
          
        <% elsif @location == nil || @location == "" %>
          <p>
            Error: Location does not register with our source. Try again.
          </p>
        <% else %>
          <p>
            Error: <%= @error %>
          </p>
        <% end %>
      </div>
      
      <br />
      <hr class="hr-primary" />
      <br />
      <div class="previous_searches">
        <h2 class="text-center">Previous Searches</h2>
        
        <br />
        <%= render 'previous_searches' %>
      </div>
    </div>
  </div>
</div>
